<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <colissimo>
                <sallowspecific>0</sallowspecific>
                <active>1</active>
                <model>LaPoste\Colissimo\Model\Carrier\Colissimo</model>
                <title>Colissimo</title>
                <max_package_weight>100</max_package_weight>
            </colissimo>
            <lpc_group>
                <display_logo>0</display_logo>
                <price_before_coupons>1</price_before_coupons>
            </lpc_group>
        </carriers>
        <lpc_advanced>
            <lpc_general>
                <connectionMode>api</connectionMode>
            </lpc_general>
            <lpc_checkout>
                <displayDeliveryDate>0</displayDeliveryDate>
                <deliveryDateFormat>full</deliveryDateFormat>
                <deliveryDateFont>default</deliveryDateFont>
                <deliveryDateSize>default</deliveryDateSize>
            </lpc_checkout>
            <lpc_labels>
                <cn23Number>4</cn23Number>
                <hsCodeAttribute>lpc_hs_code</hsCodeAttribute>
            </lpc_labels>
            <lpc_hazmat>
                <extraCost>0</extraCost>
            </lpc_hazmat>
            <lpc_shipping>
                <domicileas_block_code_min>0</domicileas_block_code_min>
            </lpc_shipping>
            <lpc_return_labels>
                <availableToCustomerDays>14</availableToCustomerDays>
            </lpc_return_labels>
            <lpc_pr_front>
                <prAutoSelect>0</prAutoSelect>
                <relayTypes>1</relayTypes>
                <choosePRDisplayMode>widget</choosePRDisplayMode>
                <prCustomizeWidget>0</prCustomizeWidget>
                <prDisplayFont>verdana</prDisplayFont>
                <maxRelayPoint>20</maxRelayPoint>
                <prDefaultMobileDisplay>maplist</prDefaultMobileDisplay>
            </lpc_pr_front>
            <lpc_ddp>
                <extracost_au>18</extracost_au>
                <extracost_bh>18</extracost_bh>
                <extracost_ca>18</extracost_ca>
                <extracost_cn>18</extracost_cn>
                <extracost_eg>18</extracost_eg>
                <extracost_hk>18</extracost_hk>
                <extracost_id>18</extracost_id>
                <extracost_jp>18</extracost_jp>
                <extracost_kw>18</extracost_kw>
                <extracost_mx>18</extracost_mx>
                <extracost_om>18</extracost_om>
                <extracost_ph>18</extracost_ph>
                <extracost_sa>18</extracost_sa>
                <extracost_sg>18</extracost_sg>
                <extracost_za>18</extracost_za>
                <extracost_kr>18</extracost_kr>
                <extracost_ch>18</extracost_ch>
                <extracost_th>18</extracost_th>
                <extracost_ae>18</extracost_ae>
                <extracost_gb>10</extracost_gb>
                <extracost_us>18</extracost_us>
            </lpc_ddp>
        </lpc_advanced>
    </default>
</config>
